# Dependencies
node_modules/

# Build output
dist/
*.local

# TypeScript
*.tsbuildinfo

.prettierrc
src/assets

.vscode/*
!.vscode/extensions.json

.DS_Store

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
